{% load static %}
<!DOCTYPE html>
<html lang="en">

<body class = "body">
    <head>
        {% block title %}<title id="title">UP Capes</title>{% endblock %}
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

        <nav class="navbar navbar-expand-lg navbar-dark bg-warning static-top">
          <div class="container">
            <a class="navbar-brand" href="#">
                  <img src="{% static "capeslogo.png" %}" width="75" height="75">
                </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
                </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
              <ul class="navbar-nav ml-auto">
                <li class="nav-item active">
                  <a class="nav-link" href="">Home
                        <span class="sr-only">(current)</span>
                      </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="">Companies</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="">Opportunities</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'profile' %}">Profile</a>
                </li>
              </ul>
            </div>
          </div>
        </nav>
    </head>
    <main>{% block content %}{% endblock %}
    </main>
</body>
</html>
